.articles {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: $color1;
}

.article1 {
    text-align: center;
    position: relative;

    h2 {
        font-size: 3rem;
        text-transform: uppercase;
        width: 60%;
        margin: auto;
        padding-bottom: 40px;
        font-family: "Inter", sans-serif;
        font-weight: 900;
    }

    p {
        font-size: 1rem;
        font-style: italic;
        width: 60%;
        margin: auto;
        padding-bottom: 40px;
        line-height: 2.5rem;
    }

    img {
        width: 80%;
        margin: auto;
        display: block;
    }
}

.groupArticles {
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
     font-family: "Inter", sans-serif;
     width: 50%;
     text-align: center;
     margin: auto;
}


 .article2 {
    width: 60%;
    margin: 0 auto; 
    text-align: center; 
    border-top: solid 1px lightgray ;
    border-right: solid 1px lightgray;
}

 .article3 {
    width: 60%;
    margin: 0 auto; 
    text-align: center; 
    border-top: solid 1px lightgray;
}







.img2,
.img3 {
    width: 80%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.description {
        font-size: 1rem;
        line-height: 2.5rem;
        margin: auto;
            width: 80%;
text-align: justify;
}