.communication {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-top: 80px;
    background-color: lightgrey;
}






form {
    display: grid;
        margin-right: 10%;
    margin-left: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "na ad"
    "em ph"
    "me co"
    "bu so"
    ;
}

.na{
    font-weight: 600;
    text-transform: uppercase;
grid-area: na;
display: block;
}

.em{
    font-weight: 600;
    text-transform: uppercase;
grid-area: em;
display: block;
}

.me {
    font-weight: 600;
    text-transform: uppercase;
grid-area: me;
display: block;
}

.bu {
    font-weight: 600;
    text-transform: uppercase;
grid-area: bu;
}

.ad {
grid-area: ad;
display: flex;
}

.ph {
grid-area: ph;
display: flex;
}

.co {
grid-area: co;
display: flex;    
}

.so {
grid-area: so;
display: flex;
}

.pform {
    margin: 0;
}



