html {
  position: relative;
}

body {
  background: url(../images/bg.jpg) center/cover;
  font-family: "Merriweather", serif;
  height: 100vh;
  background-attachment: fixed;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header div {
  color: rgb(243, 243, 243);
  margin: auto;
  width: 60%;
  text-align: center;
}
header div h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  text-transform: uppercase;
}
header div p {
  font-style: italic;
}
header div i {
  font-size: 4rem;
  padding: 50px;
}

nav {
  background-color: rgba(255, 255, 255, 0.2980392157);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(243, 243, 243);
  font-weight: 700;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
ul div {
  display: block;
}
ul .up {
  height: 60px;
  width: 250.55px;
}
ul .down {
  height: 60px;
  width: 250.55px;
}
ul li {
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
}
ul li:hover {
  color: rgb(21, 20, 20);
  background-color: rgb(243, 243, 243);
}

button {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  padding: 20px 10px;
  margin: 40px 20px;
  border: rgb(21, 20, 20) solid 3px;
  font-weight: 700;
}

.date {
  font-size: 1rem;
  padding-top: 50px;
  padding-bottom: 50px;
}

.articles {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: rgb(243, 243, 243);
}
.articles .article1 {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.articles .article1 h2 {
  font-size: 3rem;
  text-transform: uppercase;
  width: 60%;
  margin: auto;
  padding-bottom: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}
.articles .article1 p {
  font-size: 1rem;
  font-style: italic;
  width: 60%;
  margin: auto;
  padding-bottom: 40px;
  line-height: 2.5rem;
}
.articles .article1 img {
  width: 80%;
  margin: auto;
  display: block;
}
.articles .groupArticles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}/*# sourceMappingURL=index.css.map */